@font-face {
  font-family: 'Garaje-Monospace0515';
  src:    url('./fonts/GarajeTrial-205TF/Garage Wide Monospace/Variable 0505-0515 Monospace/GarajeMonospace0505-0515Trial-VAR.ttf');
  src:    url('./fonts/GarajeTrial-205TF/Garage Wide Monospace/Variable 0505-0515 Monospace/GarajeMonospace0505-0515Trial-VAR.ttf') format('truetype');        
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'GarajeMultiTrial-Black';
    src: url('./fonts/GarajeTrial-205TF/Garaje Multi/GarajeMultiTrial-Black.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'CliftonTrial-Italic';
    src: url('./fonts/CliftonTrial-205TF/CliftonTrial-Italic.otf');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'CliftonTrial-Regular';
    src: url('./fonts/CliftonTrial-205TF/CliftonTrial-Regular.otf');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'GT-Haptik Rotalic';
    src: url('./fonts/Web/GT-Haptik-Regular-Rotalic.woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'GT-Haptik Rotalic-Black';
    src: url('./fonts/Web/GT-Haptik-Black-Rotalic.woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'savateitalique';
    src: url('./fonts/Savate-master/web/savate-italique-webfont.eot');
    src: url('./fonts/Savate-master/web/savate-italique-webfont.eot') format('embedded-opentype'),
         url('./fonts/Savate-master/web/savate-italique-webfont.woff2') format('woff2'),
         url('./fonts/Savate-master/web/savate-italique-webfont.woff') format('woff'),
         url('./fonts/Savate-master/web/savate-italique-webfont.ttf') format('truetype'),
         url('./fonts/Savate-master/web/savate-italique-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.nav-container{
border: 1px solid black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 150px;
}

h1{
  font-family: 'savateitalique';
  font-size: 10vh;
  color: #ffffff;
  margin-bottom: 0;
  /* color: #000000; */

}
li {
  font-family: 'CliftonTrial-Regular';
  font-size: 5vh;
  list-style-type:none;
  color: #ffffff;
  /* color: #000000; */
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  font-family: 'CliftonTrial-Italic';
  color: #ffffff;
  text-decoration: none;
}

.brands-front-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 40px; */
}

.brand-logo{
  max-width: 300px;
  padding: 2%;
}

.rosie, p{
  font-family: 'CliftonTrial-Regular';
  font-weight: 2px;
  color: #ffffff;
}