@font-face {
  font-family: 'Garaje-Monospace0515';
  src:    url('./fonts/GarajeTrial-205TF/Garage Wide Monospace/Variable 0505-0515 Monospace/GarajeMonospace0505-0515Trial-VAR.ttf');
  src:    url('./fonts/GarajeTrial-205TF/Garage Wide Monospace/Variable 0505-0515 Monospace/GarajeMonospace0505-0515Trial-VAR.ttf') format('truetype');        
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'GarajeMultiTrial-Black';
    src: url('./fonts/GarajeTrial-205TF/Garaje Multi/GarajeMultiTrial-Black.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'CliftonTrial-Italic';
    src: url('./fonts/CliftonTrial-205TF/CliftonTrial-Italic.otf');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'CliftonTrial-Regular';
    src: url('./fonts/CliftonTrial-205TF/CliftonTrial-Regular.otf');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'GT-Haptik Rotalic';
    src: url('./fonts/Web/GT-Haptik-Regular-Rotalic.woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'GT-Haptik Rotalic-Black';
    src: url('./fonts/Web/GT-Haptik-Black-Rotalic.woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'savateitalique';
    src: url('./fonts/Savate-master/web/savate-italique-webfont.eot');
    src: url('./fonts/Savate-master/web/savate-italique-webfont.eot') format('embedded-opentype'),
         url('./fonts/Savate-master/web/savate-italique-webfont.woff2') format('woff2'),
         url('./fonts/Savate-master/web/savate-italique-webfont.woff') format('woff'),
         url('./fonts/Savate-master/web/savate-italique-webfont.ttf') format('truetype'),
         url('./fonts/Savate-master/web/savate-italique-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
  
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.nav-container{
/* border: 1px solid black; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 100px;

}

h1{
  font-family: 'savateitalique';
  font-size: 10vh;
  color: #ffffff;
  /* margin-bottom: 0; */
  /* color: #000000; */

}
li {
  font-family: 'CliftonTrial-Regular';
  font-size: 5vh;
  list-style-type:none;
  color: #ffffff;
  /* color: #000000; */
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  font-family: 'CliftonTrial-Italic';
  color: #ffffff;
  text-decoration: none;
}

.brands-front-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 40px; */
}

.brand-logo{
  max-width: 300px;
  padding: 2%;
}

.rosie, .site-info{
  font-family: 'CliftonTrial-Regular';
  font-size: 2vh;
  font-weight: 2px;
  color: #ffffff;
}

.credit{

}

.client-page{
  background-color: #A8D0DB;
  /* background-color: #036072; */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  overflow-x: hidden;
  display: grid;
  grid-gap: 50px 100px;

}
.cloud-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 20vh;
  row-gap: 4em;
  margin-top: 5%;
  padding-top: 10px;
  /* border: 4px solid blue; */
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes vibrate-3 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}


.cloud-div1{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  position: relative;
  margin: 10px;
  animation: vibrate-1 2s linear infinite both;

}
.cloud-div2{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  position: relative;
  margin: 10px;
  animation: vibrate-3 3s linear infinite reverse both;

}

.cloud-img{
  /* border: 1px solid black; */
  max-height: 275px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
 
}

.brand-name{
  font-family: 'CliftonTrial-Italic';
  font-size: 3vw;
  transition: transform .2s;
  color: #ffffff;
  text-shadow: 1px 2px 1px #A8D0DB;
  /* border: 1px solid black; */
}

.brand-name:hover{
  transform: scale(1.1);
}

a{
  font-family: 'CliftonTrial-Regular';
}